name: "Pine"
scopeName: "source.pine"
fileTypes: [
  "pine"
]
patterns: [
  {
    include: "#markup"
  }
  {
    include: "#strings"
  }
  {
    include: "#comments"
  }
  {
    include: "#builtins"
  }
  {
    include: "#entity"
  }
  {
    include: "#keyword"
  }
  {
    include: "#constant"
  }
  {
    include: "#storage"
  }
  {
    include: "#variable"
  }
]
