'.source.pine':
    editor:
        tabType: 'hard'
        tabLength: 4
        preferredLineLength: 8
        commentStart: '# '
        increaseIndentPattern: '^\\s*(class|def|if|else|try|catch|finally|for|while)\\b.*:\\s*$'
        decreaseIndentPattern: '^\\s*(else|catch|finally)\\b.*:\\s*$'
