'.source.pine':
    editor:
        tabType: 'hard'
        tabLength: 4
        preferredLineLength: 8
        commentStart: '# '
        increaseIndentPattern: '^\\s*(def|func|class|if|else|for|do|while|switch|case|default|try|catch|finally)\\b.*:\\s*$'
        decreaseIndentPattern: '^\\s*(else|while|catch|finally)\\b.*:\\s*$'
